<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
            {{ 1 + 2 === 3 ? 'ok' : 'no'}}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
                동적으로 바인딩 된 title 을 볼 수 있다!
            </span>
        </div>
        <div id="app-3">
            <a @click="doSomething">
                버튼
            </a>
        </div>
        <div id="app-4">
            <input type="text" v-model="nick">
            <p>{{ nick }}</p>
        </div>
        <div id="app-5">
            <app5-item></app5-item>
        </div>
        <div id="app-6">
            <app6-item></app6-item>
        </div>
        <div id="app-7">
            <p>질문하렴</p>
            <input v-model="question">
            <p>{{ question }}</p>
            <p>{{ answer }}</p>
        </div>
        <div id="app-8">
            <div v-bind:style="[style1,style2]">
                {{ message }}
            </div>
        </div>

        <script src="index.js"></script>
    </body>
</html>